<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>
		Short Break
	</title>
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	<style type="text/css">
		h2{
			font-size: 30px;
		}
		li{
			font-size: 20px;
			line-height: 30px;
			border:none ! important;
		}
		#experiment_start{
			margin-top:20px;
			text-align:center;
		}
	</style>
</head>
<body>
	<div id="usr_info" class="usr_info">
		<h2>Short Break</h2><br/><br/>
		<ul>
			<li>You can take a short break now.</li>
			<li>If you are ready for the remaining part, please press the button to continue.</li>
		</ul>
		<div id="experiment_start">
			<a class="a_button" href="/experiment/{{ expId }}/{{ testId }}">Continue!</a>
		</div>
	</div>
</body>
</html>
