dataGenerator/generated_data
dataGenerator/selected_data
dataGenerator/final_selected_data
user-study-website/__pycache__
user-study-website/results
.DS_Store
dataGenerator/time-series
user-study-website/static/data/raw-prev
dataGenerator/raw
user-study-website/excute-file
user-data-analysis/data/pilot/reject
user-data-analysis/.RData
user-data-analysis/.Rhistory
