<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <style>
        body {
            font: 11px sans-serif;
            background: #eee;
            text-align: center;
        }

        a {
            font-size: 16px;
        }

        svg {
            background: #fff;
            margin: 10px;
        }

        .axis path,
        .axis line {
            fill: none;
            stroke: rgba(0, 0, 0, 0.3);
            shape-rendering: crispEdges;
        }

        #progress_container {
            width: 90%;
            height: 40px;
            border-radius: 10px;
            background: #ddd;
            margin: 0 auto;
            margin-top: 100px;
            box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3) inset;
        }

        #progress {
            width: 100px;
            height: 40px;
            /*padding: 5px;*/
            line-height: 40px;
            background: #007acd;
            border-radius: 10px;
        }

        #progress p {
            text-align: center;
            color: white;
            font-weight: bold;
        }

        #cover {
            display: block;
            position: absolute;
            z-index: 2;
            left: 49.5%;
            width: 840px;
            height: 410px;
            margin-left: -400px;
            margin-top: -0px;
            background-color: rgba(255, 255, 255, 1);
        }

        .submit {
            background: #555;
            color: #eee;
            border: none;
            border-radius: 5px;
            width: 200px;
            padding: 10px;
            text-align: center;
            font-size: x-large;
            box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
            text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
        }

        .submit:hover {
            background: #333;
            color: #ccc;
            box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
            text-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
        }
    </style>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="/static/js/lib/jquery-3.2.1.min.js"></script>
    <script src="/static/js/utils.js"></script>
    <script type="text/javascript" src="/static/js/lib/d3.color.min.js"></script>
    <script src="/static/js/lib/c3.min.js"></script>
    <script src="/static/js/GA.js"></script>
    <script src="/static/js/color-assignment.js"></script>
    <script src="/static/js/palettailor.js"></script>
    <script src="/static/js/c3-palette.js"></script>
</head>

<body>
    <div style="width: 30%;text-align: center;margin-left: 35%;font-size: 25px;">
        <ul style="text-align: left;">
            <li>First we give you a time-unconstrained version of the task which you must answer it correctly before
                proceeding.</li>
            <li>Second, we give you 3 training trials, which were identical to the real trials.</li>
            <li>
                There are <U>1.5 seconds</U> for you to find the bar that has the biggest difference in the two charts
                after
                you click the "<b>Start this trial</b>" button.
            </li>
            <li>
                At the end of the impression, one of the bar charts of the comparison will be removed, while the other
                remained. Click on the appropriate portion of the remaining chart to provide a response.
            </li>
            <li>
                After your response, the correct answer will be highlighted by a <b style="color:green;">green</b>
                box, while the incorrect answer is bounded with <b style="color:red;">red</b> box.
            </li>
            <li>
                Then there will appear the "<b>next</b>" button to continue the task. Your progress is shown at the
                bottom.
            </li>
            <li>
                <b>Note: </b> During the experiment, please do not refresh the
                current page! Otherwise, you'll do this test from the start again!
            </li>
        </ul>
        <br>
    </div>
    <div>
        <h1>Training trials: <b id="training_trial_count">1</b>/ 4</h1>
        <h1 id="change_info_label">
            Click on the bar that had the biggest difference in the two charts.
        </h1>
    </div>
    <div id="renderDiv" style="text-align:center;width: 100%;height:450px;">
        <div id="cover"><img src="/static/img/plus2.png" style="margin-top: 175px;width: 50px;height: 50px;"></div>
    </div>
    <div style="width: 100%;text-align:center;">
        <input class="submit" id="submitButton" type="button" name="result" value="Start this trial"
            style="margin-top: 30px;display: none;" />
    </div>
    <br>
    <span id="show_result" style="color: red;font-size: large;"></span>
    <div style="width: 100%;text-align:center;">
        <input class="submit" type="button" id="nextButton" name="next" value="Next"
            style="margin-top: 30px;display: none;" />
    </div>
    <div id="progress_container">
        <div id="progress">
            <p id="progressNum">10%</p>
        </div>
    </div>
    <span style="font-size: large; color: rgb(51, 49, 49); font-weight: bold;">Please do not refresh the
        current page! Otherwise, you'll do this test from the start again!</span>
    <script>
        // Max-delta data generation
        function MAXDELTA(t, c = 7) {
            let a = [], b = []
            for (let i = 0; i < c; i++) {
                let r = Math.random()
                let x = t * Math.sqrt(r / (c - i))
                let y = x + t * Math.pow(1 - t, i)
                if (i % 2 === 1) {
                    x = 1 - x
                    y = 1 - y
                }
                if (Math.random() < 0.5) {
                    a.push(x)
                    b.push(y)
                } else {
                    a.push(y)
                    b.push(x)
                }
            }
            return [a, b]
        }

        $("#submitButton").click(function (event) {
            d3.select("#cover").style("display", "none");
            d3.select("#submitButton").style("display", "none");
            test_time = new Date();

            if (training_trial_count > 1)
                setTimeout(function () {
                    d3.select("#renderDiv").select("svg").style("display", "none")
                }, 1500);
        });

        $("#nextButton").click(function (event) {
            training_trial_count += 1
            d3.select("#training_trial_count").text(training_trial_count);

            if (condition_id_count === (condition_ids.length - 1) && test_id === (trial_num_each_condition - 1)) {
                window.location.href = "/start";
            }
            else {
                if (test_id < trial_num_each_condition) {
                    test_id++
                }
                if (test_id === trial_num_each_condition) {
                    test_id = 0
                    condition_id_count++
                }
                showOneTrial()
            }
        });
    </script>
    <!--draw scatterplot by data-->
    <script>
        function drawBarchart(data, palette, sign, id) {
            // set the ranges
            xScale = d3.scaleBand()
                .range([0, svg_width])
                .padding(0.1);
            yScale = d3.scaleLinear()
                .range([svg_height, 0]);
            xScale.domain([...Array(bar_num).keys()]);
            yScale.domain([0, 1]);
            let barchart_svg = d3.select("#renderDiv").append("svg")
                .attr("width", SVGWIDTH).attr("height", SVGHEIGHT);

            let barchart = barchart_svg.style("background-color", bgcolor)
                .append("g")
                .attr("transform", "translate(" + svg_margin.left + "," + svg_margin.top + ")");

            // add the x Axis
            barchart.append("g")
                .attr("transform", "translate(0," + svg_height + ")")
                .call(d3.axisBottom(xScale).tickFormat(""));

            // add the y Axis
            barchart.append("g")
                .call(d3.axisLeft(yScale).tickFormat(""));

            barchart.selectAll("bars")
                .data(data)
                .enter().append("rect")
                .attr("class", "bars")
                .attr("id", function (d) {
                    return "id-" + cValue(d);
                })
                .style("fill", function (d) {
                    return palette[cValue(d)];
                })
                .attr("x", function (d) {
                    return xScale(cValue(d));
                })
                .attr("width", xScale.bandwidth())
                .attr("y", function (d) {
                    return yScale(yValue(d));
                })
                .attr("height", function (d) {
                    return svg_height - yScale(yValue(d));
                })
                // .attr("rx", 10).attr("ry", 10)
                .attr("item-color", function (d) {
                    return palette[cValue(d)];
                })
                .style("opacity", function (d) {
                    if (sign && cValue(d) != id) {
                        return "0.5";
                    } else {
                        return "1";
                    }
                })
                .on("click", function () {
                    if ((new Date() - test_time) < 1500) {
                        return;
                    }
                    test_time = (new Date() - test_time) / 1000
                    let choosed_id = +d3.select(this).attr("id").split("-")[1]
                    curr_result = (choosed_id === id) ? 1 : 0
                    // if incorrect, show the correct answer
                    if (choosed_id != id) {
                        d3.select("#renderDiv").selectAll("rect").attr('stroke-width', '0')
                        $('#show_result').text("You are wrong!").css("color", "red");
                        d3.select("#renderDiv").selectAll("#id-" + choosed_id)
                            .attr('stroke', 'red')
                            .attr('stroke-dasharray', '10,5')
                            .attr('stroke-linecap', 'butt')
                            .attr('stroke-width', '3')
                        if (training_trial_count > 1)
                            d3.select("#renderDiv").selectAll("#id-" + id)
                                .attr('stroke', 'green')
                                .attr('stroke-dasharray', '10,5')
                                .attr('stroke-linecap', 'butt')
                                .attr('stroke-width', '3')
                    } else {
                        d3.select("#renderDiv").selectAll("rect").attr('stroke-width', '0')
                        $('#show_result').text("You are right!").css("color", "green");
                        d3.select("#renderDiv").selectAll("#id-" + choosed_id)
                            .attr('stroke', 'green')
                            .attr('stroke-dasharray', '10,5')
                            .attr('stroke-linecap', 'butt')
                            .attr('stroke-width', '3')
                    }
                    // show the next button
                    d3.select("#nextButton").style("display", "inline-block");
                    d3.select("#renderDiv").selectAll("svg").style("display", "inline-block")
                    if (training_trial_count === 1 && curr_result === 0) // the first training trial must be correct
                        d3.select("#nextButton").style("display", "none");
                });
        }
    </script>
    <script>
        let training_trial_count = 1
        bgcolor = "#fff";
        let trial_num_each_condition = 1
        test_time = undefined;
        let condition_ids = [0, 1, 2, 3, 4, 5]
        shuffle(condition_ids)
        condition_ids = condition_ids.slice(0, 4);
        let condition_id_count = 0, test_id = 0;
        result = [];
        let curr_t, curr_result;
        let bar_num = 7;

        function getPalette(id, data) {
            let palette, sigma, weights, c3palette, palettailor;
            let knng_metric, ns_weight
            let best_palette, sigmaAndScore
            console.log("id is ", id);
            switch (id) {
                case 0:
                    sigma = Tableau_20_palette.slice();
                    shuffle(sigma)
                    palette = sigma.slice(0, bar_num);
                    break;
                case 1:
                    [knng_metric, ns_weight] = processData(data[0])
                    console.log(knng_metric, ns_weight);
                    [best_palette, sigmaAndScore] = _doColorAssignment(Tableau_20_palette, bar_num, knng_metric, ns_weight);
                    palette = best_palette
                    break;
                case 2:
                    [knng_metric, ns_weight] = processData(data[0])
                    console.log(knng_metric, ns_weight);
                    [best_palette, sigmaAndScore] = _doColorAssignment(Tableau_20_palette, bar_num, knng_metric, ns_weight);
                    palette = best_palette
                    break;
                case 3:
                    weights = [1, 0, 0]
                    c3palette = new C3Palette(data, bar_num, weights, svg_width, svg_height, Tableau_20_palette)
                    palette = c3palette.run;
                    break;
                case 4:
                    weights = [1, 1, 1]
                    palettailor = new Palettailor(data[0], bar_num, weights, svg_width, svg_height)
                    palette = palettailor.run;
                    break;
                case 5:
                    weights = [1, 1, 1]
                    c3palette = new C3Palette(data, bar_num, weights, svg_width, svg_height)
                    palette = c3palette.run;
                    break;

            }
            return palette;
        }

        function showOneTrial() {
            d3.select("#cover").style("display", "block");
            d3.select("#submitButton").style("display", "inline-block");
            d3.select("#renderDiv").selectAll("svg").remove()
            $('#show_result').text("")
            d3.select("#nextButton").style("display", "none");
            // 1. loading data
            curr_t = 0.75
            let bar_data = MAXDELTA(curr_t)
            // shuffle the order of bar chart
            let bar_order = [...Array(bar_num).keys()]
            shuffle(bar_order)
            let shuffled_bar_data = [[], []]
            for (let i = 0; i < bar_order.length; i++) {
                shuffled_bar_data[0].push({
                    "x": i,
                    "y": bar_data[0][bar_order[i]],
                    "label": i
                })
                shuffled_bar_data[1].push({
                    "x": i,
                    "y": bar_data[1][bar_order[i]],
                    "label": i
                })
            }
            let used_palette = getPalette(condition_ids[condition_id_count], shuffled_bar_data); // generate in real-time

            let sign = false;
            if (condition_ids[condition_id_count] === 2) {
                sign = true;
            }
            // find the biggest difference
            let id = 0, largest_diff = -100000000;
            for (let i = 0; i < shuffled_bar_data[0].length; i++) {
                let diff = Math.abs(shuffled_bar_data[0][i].y - shuffled_bar_data[1][i].y)
                if (largest_diff < diff) {
                    largest_diff = diff
                    id = +shuffled_bar_data[0][i].x
                }
            }
            drawBarchart(shuffled_bar_data[0], used_palette, sign, id)
            drawBarchart(shuffled_bar_data[1], used_palette, sign, id)

            test_time = new Date();

            let containerWidth = document.getElementById("progress_container").offsetWidth;
            document.getElementById("progress").style.width = (containerWidth * (test_id + condition_id_count * trial_num_each_condition + 1) / (trial_num_each_condition * condition_ids.length)) + "px";
            document.getElementById("progressNum").innerHTML = (test_id + condition_id_count * trial_num_each_condition + 1) + "/" + (trial_num_each_condition * condition_ids.length);
        }
        showOneTrial()

    </script>

</body>

</html>