<html>

<head>
    <script src="/static/js/lib/d3.v4.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <style>
        body {
            font: 28px sans-serif;
            background: #eee;
            text-align: center;
        }

        #consent {
            width: 80%;
            margin: 0 auto;
            margin-top: 50px;
            text-align: left;
        }

        ul {
            list-style: none;
        }

        #invalidMessage {
            display: none;
            color: red;
        }
    </style>
</head>

<body>
    <form id="consent" action="/consent_info" method="post" name="consent_info">
        <ul>
            <!-- <li>
                <h2>Palettailor User Study</h2>
            </li> -->
            <li>

                {% if taskName=="coSaliency" %}
                <h2>Finding the Difference</h2>
                {% endif %}
                {% if taskName=="coSeparability" %}
                <h2>Counting Class Number</h2>
                {% endif %}
                {% if taskName=="barchart" %}
                <h2>Finding Max Delta</h2>
                {% endif %}

            </li>
            <li>

                {% if taskName=="coSaliency" %}
                You will be asked to accomplish <b>Finding the Difference</b> task in this study.

                {% endif %}
                {% if taskName=="coSeparability" %}
                You will be asked to accomplish <b>Counting Class Number</b> task in this study.
                {% endif %}
                {% if taskName=="barchart" %}
                You will be asked to accomplish <b>Finding Max Delta</b> task in this study.
                {% endif %}

            </li>

            <li>
                <p>
                    Please enter your Amazon Worker Id. <strong>You may only complete this HIT once.</strong> Subsequent
                    completions cannot be accepted:
                    <br>

                    <input type="text" id="workerId" name="workerId" size="30" required />
                    <button id="checkId" class="submit" type="button" onclick="validateId()">Check ID</button>
                    <br>

                    <span id="invalidMessage">
                        Our records show that you have taken part in this study before, so we cannot allow you to take
                        this HIT again at this time. Please contact us if you feel this is in error.
                    </span>
                </p>

                <p>
                    <button id="consentYes" disabled="true" type="submit">I Agree</button>
                </p>

                <p>
                    <strong>Note: </br>
                        1. This HIT requires a modern browser. If you are not using Chrome or Firefox, the "I
                        Agree" button may not activate even after entering your Worker ID. </br>
                        2. Please do not use mobile devices (touchscreen) for this study.</strong>
                </p>
            </li>
        </ul>
    </form>


</body>
<html>


<script>
    let workerId;
    d3.selectAll('#workerId')
        .on('keypress', function () {
            workerId = this.value;
        })
        .on('blur', function () {
            workerId = this.value;
        });
    function validateId() {
        if (workerId) {
            // read the workers list
            d3.csv("/static/data/userList.csv", function (error, data) {
                let workers = [];
                for (let w = 0; w < data.length; w++) {
                    workers.push(data[w].workerId);
                }

                if (workers.indexOf(workerId) == -1) {
                    d3.select('#invalidMessage').style('display', null);
                    d3.select('#consentYes').attr('disabled', null);
                    d3.select('#consentYes').attr('class', "submit");
                } else {
                    d3.select('#invalidMessage').style('display', 'inline');
                }

            })
        }
    }
</script>