<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>
		Guide
	</title>
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	<style type="text/css">
		h2 {
			font-size: 30px;
		}

		li {
			font-size: 20px;
			line-height: 30px;
			border: none ! important;
		}

		#experiment_start {
			margin-top: 20px;
			text-align: center;
		}
	</style>
</head>

<body>
	<div id="usr_info" class="usr_info">
		<h2>User Guide</h2><br /><br />
		{% if taskName=="coSaliency" %}
		<ul>
			<li>
				<ul>
					<li>Your task is to <U>find ALL the clusters that have been changed</U> in two scatterplots as
						accurately as you can.</li>
					<!-- <li>The <U>number of changed clusters</U> will be shown on top of the experimental webpage.</li> -->
					<li>Please <U>click any point to select</U> the corresponding changed cluster. </li>
					<li>If you choosed a "wrong" cluster that has no changes, you can <U>click on the corresponding
							color in the palette to get rid of</U> it.</li>
					<li>Once you satisfy with your answer, click the "<b>Next</b>" button to continue.</li>
					<li>If you cannot find all the changed clusters in <U>30 seconds</U>, there will show the "<b>Can't
							find it</b>" button.</li>
					<li><U>60 seconds</U> are provided for each trial. If you cannot find all the changed clusters in 60
						seconds, you will be directed to the next trial automatically.</li>
				</ul>
			</li>
			<li>
				<div style="text-align: center;">
					<img src="/static/img/guide-gif.gif" style="width: 70%;" />
				</div>
				In this example, there are 3 changed
				clusters, i.e., the <b style="color:#59A14F;">green</b> class in the left figure is moved to a
				new
				position in the right figure. The <b style="color:#4E79A7;">blue</b> class, while remaining at
				the same
				position, becomes more dense on the right side. The shape of the <b style="color:#E15759;">red</b>
				class in the left is different to the right.

			</li>
			<li>The "<b>Confirm</b>" button only appears during training process to help you verify your answers.</li>
			<li>
				Now you can start the training process. Select the "<b>Start Training!</b>" button below to continue.
			</li>
		</ul>
		<div id="experiment_start">
			<a class="a_button" href="/experiment/1/training/">Start Training!</a>
		</div>
		{% endif %}
		{% if taskName=="coSeparability" %}
		<ul>
			<li>
				<div style="text-align: center;">
					<img src="/static/img/sep-guide-gif.gif" style="width: 40%;" />
				</div>
			</li>
			<li>In the two scatterplots above, there are several classes of points. Each class is assigned with a unique
				color.
			</li>
			<li>Your task is to <U>find how many different colors(classes)</U> in these two scatterplots as
				accurately as you can.</li>
			<li>In this example, 8 classes can be easily observed, thus you can select 8 at the bottom.</li>
			<li><U>60 seconds</U> are provided for each trial. If you cannot count how many clusters in 60
				seconds, you will be directed to the next trial automatically.</li>
			<li>The "<b>Next</b>" button only appears during training process to help you verify your answers. In the
				real study, when you click on the bottom button, it will turn to the next trial immediately.</li>
			<li>
				Now you can start the training process. Select the "<b>Start Training!</b>" button below to continue.
			</li>
		</ul>
		<div id="experiment_start">
			<a class="a_button" href="/experiment/2/training/">Start Training!</a>
		</div>
		{% endif %}
	</div>
</body>

</html>